version: '3.9'

services:

  gateway:
    image: nginx:alpine
    container_name: gateway
    ports:
      - "${GATEWAY_PORT:-2030}:80"
    environment:
      ANNOTATOR_BASE_PATH: "${ANNOTATOR_BASE_PATH:-/annotator}"
      ANNOTATOR_SERVER_URL: "http://media-asset-annotator-server:5040"
      MEDIA_CMS_HOST_PORT: "${MEDIA_CMS_HOST_PORT:-2080}"
      ANNOTATOR_SERVER_CONTEXT_PATH: "${ANNOTATOR_SERVER_CONTEXT_PATH:-/annotator-server/api}"
      MEDIA_CMS_BASE_PATH: "${MEDIA_CMS_BASE_PATH:-/mediacms}"
    volumes:
      - ./nginx/nginx.conf.template:/etc/nginx/templates/nginx.conf.template:ro
      - /dev/null:/etc/nginx/conf.d/default.conf
    depends_on:
      - media-asset-annotator
      - media-asset-annotator-server


  media-asset-annotator:
    build: ../..
    container_name: media-asset-annotator
    environment:
      BASE_PATH: "${ANNOTATOR_BASE_PATH:-/annotator}"
      APP_MODE: "prod"
      ANNOTATIONS_API_URL: "${ANNOTATIONS_API_URL:-http://localhost:2030/annotator-server/api/annotation/media}"
      MEDIA_ASSET_API_URL: "${MEDIA_ASSET_API_URL:-http://localhost:2030/annotator-server/api/asset}"
      MEDIA_ASSETS_LIST_API_URL: "${MEDIA_ASSETS_LIST_API_URL:-http://localhost:2030/annotator-server/api/asset/adapter/playlist}"

  media-asset-annotator-server:
    image: manki1337/media-asset-annotator-server:latest
    container_name: media-asset-annotator-server
    environment:
      SERVER_PORT: 5040
      SERVER_CONTEXT_PATH: "${ANNOTATOR_SERVER_CONTEXT_PATH:-/annotator-server/api}"
      MEDIA_CMS_INTERNAL_BASE_URL: "http://web"
      MEDIA_CMS_PUBLIC_BASE_URL: "${MEDIA_CMS_PUBLIC_BASE_URL:-http://localhost:${MEDIA_CMS_HOST_PORT:-2080}}"
      MEDIA_CMS_API_BASE: "${MEDIA_CMS_API_BASE:-/api/v1}"
      REPOSITORY_URL: "${GDB_REPOSITORY_URL:-http://graphdb:7200/repositories/media-assets}"
      DB_USERNAME: "${GDB_USERNAME:-admin}"
      DB_PASSWORD: "${GDB_PASSWORD:-root}"
      CORS_ALLOWED_ORIGINS: "${ANNOTATOR_SERVER_CORS_ORIGINS:-http://media-asset-annotator,http://localhost:2030}"
    depends_on:
      - graphdb
      - graphdb-init


  graphdb:
    image: ontotext/graphdb:10.6.3
    container_name: media-asset-annotator-db
    ports:
      - '7200:7200'
    volumes:
      - ./graphdb/import:/opt/graphdb/home/import
      - ./graphdb/settings.js:/opt/graphdb/home/data/settings.js

  graphdb-init:
    image: curlimages/curl:8.5.0
    container_name: media-asset-annotator-db-init
    depends_on:
      - graphdb
    volumes:
      - ./graphdb/import:/init
    entrypoint: ['sh', '/init/init-script.sh']

  db:
    image: postgres:18
    container_name: media-cms-db
    healthcheck:
      test: ['CMD', 'pg_isready', '-q', '-d', 'mediacms', '-U', 'mediacms']
      timeout: 45s
      interval: 10s
      retries: 10
    environment:
      POSTGRES_USER: ${MEDIA_CMS_DB_USER:-mediacms}
      POSTGRES_PASSWORD: ${MEDIA_CMS_DB_PASSWORD:-mediacms}
      POSTGRES_DB: ${MEDIA_CMS_DB_NAME:-mediacms}
      TZ: Europe/Bucharest
    restart: on-failure:5

  migrations:
    image: mediacms/mediacms:latest
    container_name: media-cms-migration
    environment:
      ENABLE_UWSGI: no
      ENABLE_NGINX: no
      ENABLE_CELERY_SHORT: no
      ENABLE_CELERY_LONG: no
      ENABLE_CELERY_BEAT: no
      ADMIN_USER: ${MEDIA_CMS_ADMIN_USER:-admin}
      ADMIN_PASSWORD: ${MEDIA_CMS_ADMIN_PASSWORD:-admin}
      ADMIN_EMAIL: ${MEDIA_CMS_ADMIN_EMAIL:-admin@mediacms.com}
    command: ./deploy/docker/prestart.sh
    depends_on:
      - redis
      - db
    restart: on-failure

  web:
    image: mediacms/mediacms:latest
    ports:
      - '${MEDIA_CMS_HOST_PORT-2080}:80'
    container_name: media-cms-web
    healthcheck:
      test: timeout 10s bash -c ':> /dev/tcp/127.0.0.1/80' || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    deploy:
      replicas: 1
    environment:
      ENABLE_CELERY_BEAT: no
      ENABLE_CELERY_SHORT: no
      ENABLE_CELERY_LONG: no
      ENABLE_MIGRATIONS: no
      FRONTEND_HOST: ${MEDIA_CMS_FRONTEND_HOST:-http://localhost}
    depends_on:
      - migrations
      - db
    restart: on-failure

  celery_beat:
    image: mediacms/mediacms:latest
    container_name: media-cms-beat
    environment:
      ENABLE_UWSGI: no
      ENABLE_NGINX: no
      ENABLE_CELERY_SHORT: no
      ENABLE_CELERY_LONG: no
      ENABLE_MIGRATIONS: no
    depends_on:
      - redis
    restart: on-failure

  celery_worker:
    image: mediacms/mediacms:latest
    container_name: media-cms-worker
    deploy:
      replicas: 1
    environment:
      ENABLE_UWSGI: no
      ENABLE_NGINX: no
      ENABLE_CELERY_BEAT: no
      ENABLE_MIGRATIONS: no
    depends_on:
      - migrations
    restart: on-failure

  redis:
    image: redis
    container_name: media-cms-redis
    hostname: norish-redis
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli ping || exit 1']
    restart: on-failure:5
