worker_processes auto;

events {
  worker_connections 1024;
}

http {
  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;

  sendfile on;
  keepalive_timeout 65;

  server {
    listen 8080;

    # Base path injected via env, e.g. /annotator
    location ${BASE_PATH}/ {
      alias /usr/share/nginx/html/;

      index index.html;

      # SPA routing
      try_files $uri $uri/ ${BASE_PATH}/index.html;
    }

  }
}
