# Container names
# Name of the UI container running the Media Asset Annotator application.
# This name is used by the proxy nginx to route requests via proxy_pass.
ANNOTATOR_CONTAINER_NAME=media-asset-annotator

# Name of the proxy nginx container that exposes the application to the host.
PROXY_CONTAINER_NAME=media-asset-annotator-proxy

# Runtime config for the app
# Default media URL used for initial redirect or demo mode
# when no media URL is explicitly provided.
ANNOTATOR_DEMO_MEDIA_URL=https://cdn.pixabay.com/video/2020/08/03/46320-447422988_large.mp4



